@charset "utf-8";
/* @import url(https://fonts.googleapis.com/css?family=Lato:900); */

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

ul li
{
	list-style: none;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tween
{
	backface-visibility: none;
}

.preloader
{
	/* font-family: 'Lato', sans-serif; */
	font-family: sans-serif;
	font-weight: 300;
	font-size: 20px;

	background: #a5d9c9;
	color: #f27186;

	overflow: hidden;

	transition: 800ms ease-in-out;
}

.preloader p
{
	font-size: 1em;

	position: absolute;
	top: 40px;
	left: 40px;

	animation: preloaderFrames 1600ms ease-in-out infinite;
}

@keyframes preloaderFrames
{
	0%		{transform: translateX(0px);}
	50%		{transform: translateX(40px);}
	100%	{transform: translateX(0px);}
}

.preloader .cog
{
	width: 240px;
	height: 240px;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;

	background: url(../img/wheel.svg) center center no-repeat;

	animation: cogFrames 800ms linear infinite;
}

@keyframes cogFrames
{
	0%		{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}

#display
{
	width: 100%;
	height: 100%;

	font-size: 60px;

	overflow: hidden;
}

.bg
{
	background: rgb(16, 16, 22);
	/* background-image: url(../img/photo-1447877085163-3cce903855cd.jpeg); */
	background-image: url(https://source.unsplash.com/category/nature);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.wrapper
{
	transform: translateY(50%);
}

.list
{
	width: inherit;
	position: relative;
	margin-left: 8px;
	margin-top: -30px; /* HALF OF FONT SIZE */

	/* font-family: 'Lato', sans-serif; */
	font-family: sans-serif;
	font-weight: 700;
	/* font-size: 1em; */
	font-size: 60px;
	color: #fff;
}

.time
{

}

.time-tween
{
	transition: 600ms ease-in-out;
}

.time li
{
	padding-bottom: 30px;
	opacity: 0.3;
	transition: 300ms ease-out;
}

.time .on
{
	opacity: 1;
	transform: translateX(24px);
}

.secondBar
{
	width: 4px;
	height: 0%;
	opacity: 1;
	position: absolute;
	top: 0; left: 0; bottom: 0;

	transition: 400ms linear;
}

.bleed
{

}

.bleed-top
{
	width: 100%;
	height: 240px;
	position: absolute;
	top: 0; right: 0; left: 0;
	/* background: linear-gradient(to bottom, rgba(16, 16, 22, 1) 0%, rgba(16, 16, 22, 0) 100%); */
}

.bleed-bottom
{
	width: 100%;
	height: 240px;
	position: absolute;
	bottom: 0; right: 0; left: 0;
	/* background: linear-gradient(to top, rgba(16, 16, 22, 1) 0%, rgba(16, 16, 22, 0) 100%); */
}

.bleed-left
{
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	/* background: linear-gradient(to right, rgba(16, 16, 22, 0.8) 0%, rgba(16, 16, 22, 0) 100%); */
}

.bleed-safe
{
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	background: linear-gradient(to right, rgba(16, 16, 22, 0.6) 0%, rgba(16, 16, 22, 0) 100%);
}

/* ------------------------- COLOR */

.secondBar-light-morning
{
	background-color: #ff6633;
}

.secondBar-light-afternoon
{
	background-color: #66ccff;
}

.secondBar-light-evening
{
	background-color: #00cc8f;
}

.secondBar-light-night
{
	background-color: #4c6699;
}

.secondBar-light-morning-grad > .bleed-top
{
	background: linear-gradient(to bottom, rgba(255, 102, 51, 1) 0%, rgba(255, 102, 51, 0) 100%);
}

.secondBar-light-morning-grad > .bleed-bottom
{
	background: linear-gradient(to top, rgba(255, 102, 51, 1) 0%, rgba(255, 102, 51, 0) 100%);
}

.secondBar-light-morning-grad > .bleed-left
{
	background: linear-gradient(to right, rgba(0, 204, 143, 0.8) 0%, rgba(0, 204, 143, 0) 100%);
}

.secondBar-light-afternoon-grad > .bleed-top
{
	background: linear-gradient(to bottom, rgba(128, 200, 255, 1) 0%, rgba(128, 200, 255, 0) 100%);
}

.secondBar-light-afternoon-grad > .bleed-bottom
{
	background: linear-gradient(to top, rgba(128, 200, 255, 1) 0%, rgba(128, 200, 255, 0) 100%);
}

.secondBar-light-afternoon-grad > .bleed-left
{
	background: linear-gradient(to right, rgba(0, 204, 143, 0.8) 0%, rgba(0, 204, 143, 0) 100%);
}

.secondBar-light-evening-grad > .bleed-top
{
	background: linear-gradient(to bottom, rgba(0, 204, 143, 1) 0%, rgba(0, 204, 143, 0) 100%);
}

.secondBar-light-evening-grad > .bleed-bottom
{
	background: linear-gradient(to top, rgba(0, 204, 143, 1) 0%, rgba(0, 204, 143, 0) 100%);
}

.secondBar-light-evening-grad > .bleed-left
{
	background: linear-gradient(to right, rgba(76, 102, 153, 0.8) 0%, rgba(76, 102, 153, 0) 100%);
}

.secondBar-light-night-grad > .bleed-top
{
	background: linear-gradient(to bottom, rgba(76, 102, 153, 1) 0%, rgba(76, 102, 153, 0) 100%);
}

.secondBar-light-night-grad > .bleed-bottom
{
	background: linear-gradient(to top, rgba(76, 102, 153, 1) 0%, rgba(76, 102, 153, 0) 100%);
}

.secondBar-light-night-grad > .bleed-left
{
	background: linear-gradient(to right, rgba(255, 102, 51, 0.8) 0%, rgba(255, 102, 51, 0) 100%);
}

