@charset "utf-8";
/* @import url(https://fonts.googleapis.com/css?family=Lato:900); */

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

ul li
{
	list-style: none;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tween
{
	backface-visibility: none;
}

.preloader
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;

	background: #a5d9c9;
	color: #f27186;

	transition: 800ms ease-in-out;
}

.preloader p
{
	font-size: 1em;

	position: absolute;
	top: 40px;
	left: 40px;

	animation: preloaderFrames 800ms ease-in-out infinite;
}

@keyframes preloaderFrames
{
	0%		{transform: translateX(0px);}
	50%		{transform: translateX(40px);}
	100%	{transform: translateX(0px);}
}

#display
{
	width: 100%;
	height: 100%;

	font-size: 60px;

	overflow: hidden;
}

.bg
{
	background: rgb(16, 16, 22);
}

.wrapper
{
	transform: translateY(50%);
}

.list
{
	width: inherit;
	position: relative;
	margin-left: 8px;

	/* font-family: 'Lato', sans-serif; */
	font-family: sans-serif;
	font-weight: 700;
	/* font-size: 1em; */
	font-size: 60px;
	color: #fff;
}

.time
{

}

.time-tween
{
	transition: 600ms ease-in-out;
}

.time li
{
	padding-bottom: 30px;
	opacity: 0.3;
	transition: 300ms ease-out;
}

.time .on
{
	opacity: 1;
	transform: translateX(24px);
}

.secondBar
{
	width: 4px;
	height: 0%;
	background-color: #ff0033;
	opacity: 1;
	position: absolute;
	top: 0; left: 0; bottom: 0;

	transition: 400ms linear;
}